body {
    font-family: 'Trebuchet MS', Verdana, sanf-serif;
}
a.download {
    background-color: #456;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    border-top: 1px solid #b3d0eb;
    border-left: 1px solid #b3d0eb;
    color: white;
    text-decoration: none;
    display: block;
    margin: 10px auto;
    width: 200px;
    text-align: center;
    font-weight: bold;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(19,57,97)),
        color-stop(1, rgb(54,130,201))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(19,57,97) 0%,
        rgb(54,130,201) 100%
    );
    background-image: linear-gradient(
      to bottom,
        rgb(54,130,201) 0%,
        rgb(19,57,97) 100%
    );
    transition: background-image 260ms;
}
a.download:hover {
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(19,57,97)),
        color-stop(1, rgb(127,191,250))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(19,57,97) 0%,
        rgb(127,191,250) 100%
    );
    background-image: linear-gradient(
      to bottom,
        rgb(127,191,255) 0%,
        rgb(19,57,97) 100%
    );
}
body {
    background-color: #eee;
    margin: 0;
}
div.content {
    margin: 20px 20px 5px 20px;
}
h1 {
    background-image: url( 'http://www.defaulticon.com/sites/default/files/styles/icon-front-page-32x32-preview/public/field/image/MD-shuffle.png' );
    background-repeat: no-repeat;
    padding-left: 40px;
    background-position: 0 7px;
}
h2 {
    font-size: 110%;
}
h1, h2 {
    text-shadow: 1px 1px 0px white; 
}
div.love:before {
    content: '♥';
    color: red;
    padding-right: 5px;
    font-size: 150%;
    position: relative;
    top: 2px;
}
div.love {
    position: relative;
    top: -4px;
    float: left;
}
div.copy {
    background-color: #111;
    color: white;
    padding: 10px;
    font-size: 80%;
    border-top: 1px solid black;
}
#mit {

}
.license {
    float: right;
}
div.copy a {
    color: #eee;
    text-decoration: none;
}
div.copy a:hover {
    text-decoration: underline;
}
div.copy img {
    vertical-align: text-bottom;
    padding: 0 0 0 15px;
}
#tint {
    background-color: black;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0.5;
}
#license-modal {
    display: none;
}
#license {
    background-color: white;
    padding: 10px;
    width: 800px;
    height: 400px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -400px;
    margin-top: -200px;
    border-radius: 10px;
    box-shadow: 0 0 20px -5px black;
}
#license p {
    font-size: 80%;
}
#license h2 {
    margin-top: 0;
    font-size: 110%;
    text-align: center;
}
#license p.summary {
    font-size: 100%;
}
a#close {
    position: absolute;
    top: 0;
    right: 0;
    text-decoration: none;
    color: black;
    font-size: 120%;
    font-weight: bold;
    padding: 5px 8px;
}
a#close:hover {
    color: red;
}
.oss {
    background-image: url( 'http://www.defaulticon.com/sites/default/files/styles/icon-front-page-32x32-preview/public/field/image/open-source.png' );
    background-repeat: no-repeat;
    background-position: top left;
    padding-left: 40px;
    min-height: 30px;
    line-height: 30px;
}
.version {
    text-align: center;
    color: #999;
    font-size: 80%;
    display: block;
}